html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #4200008e;
}

p
{
  color: rgb(255, 255, 255);
  line-height: 1.5;
  letter-spacing: -1.3px;
}
li
{
  color: rgb(0, 255, 34);
  line-height: 1.5;
  letter-spacing: -1.3px;
}

h1 {
  font-Size: 60px;
  margin: 0;
  padding: 20px 0;
  color: #f5ff6e;
  text-shadow: -3px -3px 5px #000000;
  text-align: center;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #4200008e;
  padding: 0 20px 20px 20px;
  border: 5px solid #000000;
}

img 
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}